div{
    margin: 5px;
    /* display: flex; */
    justify-content: left;
}
.addButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.removeButton {
    background-color: #f44336; /* Red */
    border: none;
    margin: 5px;
    border-radius: 7px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}   
.inputField {
    padding: 10px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #ccc;
} 

ul{
    padding: 0;
    margin: 0;
}
 
li {
    width: 350px;
    list-style-type: none;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: left;
}
.todoItem {
    width: 350px;
    border-radius: 7px;
    background-color: rgb(240, 238, 238);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.itemDetails {
    display: flex;
    justify-content: left;
}