div{
    margin: 5px;
}
.addButton {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 7px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}
.inputField {
    padding: 10px;
    width: 200px;
    border-radius: 7px;
    border: 1px solid #ccc;
}   
li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    background-color: rgb(240, 238, 238);
    border-radius: 5px;
}